@use 'sass:math';
/* EQUIVALENT PX DESIGN TO REM DEVELOPMENT*/

@mixin font-size($fontSize) {
  font-size: math.div($fontSize, 16) + rem;
}

@mixin text-block($fontSize: '', $lineHeight: '') {
  @if $fontSize != '' {
    font-size: math.div($fontSize, 16) + rem;
  }

  @if $lineHeight != '' {
    line-height: $lineHeight;
  }

  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
* Convertor
*/
@mixin px-rem($property, $value) {
  #{ $property }: math.div($value, 16) + rem;
}
